.Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .Mision {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 535px;
  }
  
  .Mision h3 {
    font-size: 30px; 
    margin-bottom: 20px;
  }
  
  .Mision p {
    font-size: 24px; 
  }

  .Vision {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px; 
    border-radius: 10px; 
    max-width: 400px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    min-height: 500px;
  }
  
  .Vision h3 {
    font-size: 30px; 
    margin-bottom: 20px; 
  }
  
  .Vision p {
    font-size: 24px; 
  }

  .pie {
    background-color: white; 
    text-align: center; 
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto; 
  }
  
  .pie img {
    max-width: 100px;
    height: auto; 
  }
  
  .pie p {
    margin: 0;
    font-size: 16px; 
  }

  